---
layout: splash
author_profile: true
title: "The GummiFactory"

header:
  overlay_image: gummiarm_shake_close.jpg
  overlay_filter: "0.1"
  cta_label: "Go to shop"
  cta_url: "/shop/"
  caption:
excerpt: "A printable and variable-stiffness GummiArm. Starting at £9450."

intro:
  - excerpt: 'The [GummiArm](http://mstoelen.github.io/GummiArm/) is a **soft**, **open source**, and **bio-inspired** robotic arm for research, education, and innovation. You can build your own GummiArm, or order it from us ready to be deployed to your laboratory, classroom or commercial application.'

feature_row2:
  - image_path: 3D_printer_extruder.jpg
    title: "Simply replicable"
    excerpt: 'Replicate and extend research experiments across artificial intelligence, robotics and human motor control. Integrate the soft arm on your commercial platform and open new markets. Or use the GummiArm for demonstrating concepts accross the whole range of STEAM subjects in higher education and high school.'
    url: "/simplyReplicable/"
    btn_label: "Read More"
    btn_class: "btn--inverse"

feature_row3:
  - image_path: gummiarm_logo.jpg
    alt: "The GummiArm with logo."
    title: "Variable passive compliance"
    excerpt: 'The GummiArm is a bio-inspired robotic arm that emulates the human muscle-tendon system design to provide Variable Stiffness Actuation (VSA). It has agonist-antagonist pairs of servos with composite soft tendons, enabling control over both the movement and the stiffness during actuation.'
    url: "/variablePassiveCompliance/"
    btn_label: "Read More"
    btn_class: "btn--inverse"

feature_row1:
  - image_path: gummiarm_ball.jpg
    alt: "The GummiArm with a red ball"
    title: "Ready for work and science"
    excerpt: 'The GummiArm allows researchers in the cognitive and developmental robotics communities to implement models that could not be implemented in traditional stiff standard robotic arms. It is also ideal for usage in tough real-world applications in service and agriculture.'
    url: "/readyToWorkAndScience/"
    btn_label: "Read More"
    btn_class: "btn--inverse"

feature_row4:
  - image_path: gummi_soft1.jpg
    alt: "The GummiArm after playing with the cat, or rather, after the cat played with it."
    title: Soft for interaction
    excerpt: 'The GummiArm is a soft robotic arm, as actuation is achieved by means of a pulley system using elastic filament composite tendons and standard Dynamixel digital servomotors. The main body is built with open source 3D printed plastic parts, which can easily be repaired and modified upon.'
    #url: "/softGummiArm/"
    #btn_label: "Read More"
    #btn_class: "btn--inverse"

---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row1" type="left" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="left" %}

{% include feature_row id="feature_row4" type="left" %}

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
